@model DthLesson07DF.Models.dthKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>dthKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DthTenKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DthTenKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DthTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DthTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "DthEdit", new { id = Model.DthMaKhoa.Trim() }) |
    @Html.ActionLink("Back to List", "DthIndex")
</p>
