@model DthLesson06Cf.Models.DthBook

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DthBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DthBookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DthBookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DthTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DthTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DthAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DthAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DthYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DthYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DthPulisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DthPulisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DthPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DthPicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DthCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DthCategoryId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DthId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
