@model DthLesson08LtDF.Models.DthMonHoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DthMonHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTiet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaMH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
