@model DthLesson08LtDF.Models.DthSinhVien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DthSinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiSinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiSinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemTrungBinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemTrungBinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DthKhoa.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DthKhoa.TenKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
