@model IEnumerable<DthLesson08LtDF.Models.DthSinhVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiSinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HocBong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemTrungBinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DthKhoa.TenKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocBong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemTrungBinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DthKhoa.TenKH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSV })
        </td>
    </tr>
}

</table>
